* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #999999;

}
/* header start */
.header {
  padding: 16px 0 0;
  background-image: url(../images/banner-bg.png);
  background-size: 100% 84%;
  /*background-size: cover;*/
  background-repeat: no-repeat;

}

nav a {
  font-weight: 700;
  color: #fffefe !important;
}

.custom-navbar button {
  /*background: red;*/

}
.custom-navbar button span{
/*background: transparent;*/
}
.navbar-toggler:focus{
  box-shadow: none;
}

.menu {}

.menu ul li {
  /*border-bottom: 0px solid transparent;*/
}

.menu ul li a {
  margin-left: 16px !important;
  padding: 0px !important;
  padding-bottom: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: .3s;
  border-bottom: 1px solid transparent;

}

.menu ul li a:hover {
  border-bottom: 1px solid #008ed6;
}

.navbar-toggler {
  /*color: #fff !important;*/
}
/* banner start */
.banner {
  padding: 80px 0 30px;
}

.banner-content {
  padding-top: 45px;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: -2px;
  color: #fff;
}

.banner-content p {
  padding: 10px 0 10px;
}

.banner-content button {
  margin: 10px 0px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 15px;
  border: 1px solid #4c4040;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  transition: .3s;
}

.banner-content button:hover {
  background: #008ed6;
}

.c-para-b {
  font-size: 14px;
  color: #008ed6;
  font-weight: 700;
  text-transform: uppercase;
}

/*feature start*/
.feature {}

.feature-top {
  padding-bottom: 50px;
}

.c-title {
  font-size: 36px;
  font-weight: 600;
  color: #1a1a1a;
}

.c-line {
  font-weight: 900;
  color: #008ed6;
}

.feature-bottom {}

.feature-bottom {}

.single {
  padding-bottom: 40px;
}

.icon {
  margin: 0 auto;
  width: 25%;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px 0;
}

.icon img {}

.single h2 {
  padding-top: 20px;
  font-size: 24px;
  color: #1a1a1a;
}

.single p {
  font-size: 18px;
  word-spacing: 2px;
}

.feature hr {}

/*feature end*/

/*description start*/
.description {
  padding: 50px 0 20px;
}

.img-d {
  margin-top: 40px;
}

.content-d {}

.content-d p {
  padding-bottom: 6px;
  line-height: 30px;
}

.content-d ul li {
  padding-top: 10px;
}

/*description end*/

/*description start 2*/
.des_2 {
  padding: 100px 0 85px;
  background: #f2f2f2;
}

/*/*description end 2*/

/*pricing start*/
.pricing {
  padding: 80px 0 100px;
}

.single-price {
  /*position: relative;*/
  margin-top: 30px;
  border: 1px solid;
  text-align: center;
  padding: 17px 22px 25px;
  transition: .4s;
}

.single-price:hover .box {
  background: #008ed6;
}

/*.single-price:hover button{
   background: #008ed6;
   color: white;
 }*/
.single-price hr {
  margin: 0 0 0 -22px;
  min-width: 257px;
}

.single-price h3 {}

.box {
  margin: 0 -23px;
  padding-bottom: 11px;
  transition: .4s;
}

.single-price h2 {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  color: #1a1a1a;
  margin-top: 0;
  margin-bottom: -15px;
}

.single-price h2 span {
  position: absolute;
  top: 15%;
  left: 37.5%;
  font-size: 35px;
  font-weight: 600;
  color: #1a1a1a;
}

.single-price h4 {
  font-size: 18px;
  font-weight: 400;
}

.single-price p {
  margin: 30px 0;
}

.single-price p span {
  color: #008ed6;
}

.single-price button {
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  color: #008ed6;
  border: 1px solid;
  padding: 8px 20px;
  transition: .4s;
}

.single-price button:hover {
  background: #008ed6;
  color: white;
}

/*pricing end*/
/*contact start*/
.contact {
  position: relative;
  padding: 80px 0 350px;
  background: #f2f2f2;
}

.contact-bottom {
  margin-top: 35px;
}

.contact-content {}

.contact-content p {
  margin-top: 0;
  margin-bottom: -4px;
}

.contact-form {
  width: 700px;
  height: 350px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 382px;
  left: 24%;
  border-radius: 5px;
}

.input1 {
  margin-bottom: 18px;
}

.input1 input {
  padding: 12px 17px;
  background: transparent;
  border: 1px solid #3a3636;

  border-radius: 1px;
}

.form-left {
  padding-top: 10px;
}

.form-right {
  padding-left: 35px;
}

.form-right textarea {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #3a3636;
}

.c-button {
  position: absolute;
  bottom: 22px;
  right: 82px;
}

.c-button button {
  /*color: antiquewhite;*/
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #3a3636;
  border-radius: 5px;
  transition: .3s;

}

.c-button button:hover {
  background: #008ed6;
  color: white;
}

.contact-form2 {
  margin-top: 30px;
  padding: 25px 10px 0;
  background: black;

  border-radius: 5px;
}

.contact-form2 input {
  padding: 4px;
  background: black;
  width: 90%;
  margin: 0 auto 10px;
}

.contact-form2 textarea {
  background: black;
  width: 90%;
  margin: 0px auto;
}

.contact-form2 button {
  padding: 4px;
  background: black;
  font-size: 14px;
  font-weight: 600;
  width: 44%;

  margin: 12px 0 10px 153px;
  transition: .4s;
  border: 1px solid #3a3636;
  border-radius: 5px;
}

.contact-form2 button:hover {
  background: #008ed6;
  color: white;
}

/*contact end*/
.map {}

.map iframe {
  width: 100%;
  height: 400px;
}

.footer {
  margin-top: -6px;
  padding: 17px 0 10px;
  background: #15141a;
}

.footer ul {}

.footer li a i {}

.footer p {
  font-size: 14px;
  font-weight: 600;
  color: #444348;
  text-transform: uppercase;
}