*{
	font-family: 'Work Sans', sans-serif !important;

}
.body{
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif !important;
	font-size: 15px;
	font-weight: 400;

}
.header{
padding: 20px 0;
}
.container1{
	width: 75%;
	margin: 0 auto;

}

.container2{
	width: 90%;
	margin: 0 auto;
}
.container3{
	width: 75%;
	margin: 0 auto;
}
.logo{}
.logo img{}
.menu{}
.menu button{
	background-color: transparent;
	border: none;
}
.menu button:hover{
	background-color: transparent; 

}

.menu button:focus{
	outline: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
}
.menu button:active{
	box-shadow: none !important;
}


.dropdown-toggle::after{
	display: none;
}

.dropdown-menu{
	border: none;
}
.banner{
	background-image: url(../images/wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg);
	min-height: 600px;
}
.content{
	padding-top: 3.5%;

}
.content h1{
	font-size: 54.43px;
	font-weight: 800;
	color: #10cab7;

}
.content p{
  font-size: 20px;

}

.description{
	    padding-top: 80px;
}
.single{
	    padding: 27px 32px;
	   /* border: 1px solid transparent;
	    box-shadow: 3px 3px 3px white;*/
	    transition: .3s;
}
.single:hover{
	border: 0px solid #f3eaea;
	box-shadow: 4px 6px 10px #f3eaea;
	transform: translateY(2px);
}
.single h2{
	font-size: 20px;
	font-weight: 800;
}
.single p{
	font-size: 15px;
	    line-height: 28px;
    word-spacing: 2px;
    color: #575757;
}
.common{
	position: relative;
	margin-top: -5px; 
}
.c-title{
	font-size: 152.87px;
	font-weight: 800;
	color:#f6f6f6;
}
.c-para{
	position: absolute;
    top: 64%;
    left: 39%;
    font-size: 24px;
    color: #575757;
}
.service-bottom{
	overflow: hidden;
	padding: 55px 0px 80px ; 
}
.service-content{
	padding: 30px 0 10px;
}
.service-content h2{
	color: #1f2021 !important;
}
.service-content p{
	color: #4d4c4c !important;
}
.demo-img1{
	position: relative;
	margin-left: 11px;

}
.ft{
	z-index: 1000;
	    margin-top: 42px;


}
.ft img{
	width: 100%;
	 box-shadow: 0px 1px 2px black;
	
}
.sd{

	position: absolute;
	    top: 12px;
	  
	right: 67px;
}
.sd img{
	    min-width: 95px;
    max-height: 325px;
}
.portfolio{
	padding-top: 30px;
	background-color: rgb(250,250,250);
}
.portfolio-top .common .c-para{
	left: 35%;
}
.portfolio-bottom{
    padding: 100px 0 120px;
}
.container4{
		width: 85%;
	margin: 0 auto;
}
/*.c-img{
	    width: auto;
   min-height: 329px;
}

.c-img img{
min-height: 100%;
}
*/
.card{
	/*margin: 5px 5px;*/
}
.card-body h1{
	font-weight: 800;
}
.card-text{
	font-size: 15px !important;
	color: #4d4c4c !important;
}


.about{
	padding-top: 30px;
}
.about-top .common .c-para{
	left: 43%;
}
.about-bottom{
	padding: 100px 0 140px;
}

.about-content{
	padding-left: 44px;
}

.about-content h1{
font-size: 20px;
font-weight: 800;
color: #334752;
    padding-bottom: 70px;
    line-height: 30px;

}
.about-content hr{
	color: #10cab7;
	width: 250px;
    height: 3px;
    margin-bottom: 25px
}
.about-content p{
	padding-top: 8px;
	font-size: 15px;
    line-height: 25px;
    word-spacing: 2px;
    color: #575757;
}



.contact{
	padding-top: 30px;
	background-color: rgb(250,250,250);
}
.contact-top{}
.contact-bottom{
	padding: 100px 0 140px;
}
.contact-bottom h2{

	font-size: 55.43px;
	font-weight: 800;
	color: #2c4755;
}
.contact-bottom h3{
		font-size: 50px;
		font-weight: 800;
	color: #10cab7;
}
.contact-bottom ul{
	padding-left: 6px;
	margin-top: 25px;
	list-style: none;
}
.contact-bottom ul li{
	display: inline-block;
}
.contact-bottom ul li p{
	color: #334752;
}
.contact-bottom ul li a{
	padding-left: 5px;
}
.contact-bottom ul li a i{
	font-size: 15px;
}


.footer{
	padding: 20px 0 10px;
	background: #2c4755;
	color: white;
	font-weight: 800;
}
.footer span{
	font-size: 15px;
	
	color: #10cab7;
}